.Container {
  width: 1170px;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  background-color: rgba(221, 207, 17, 0.712);
  background-size: cover;
}

h1 {
  margin: 0;
  margin-bottom: 10px;
}
